@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home{
    width: 100%;
    height: 100%;
    background-color:#B3CDD1 ;
    padding: 20px;
}

ul{
    list-style-type: none;
}

.headline{
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
}

.nav-links{
    color:#6C464F;
    font-size: 50px;
    text-decoration: none;

}

.one{
    width: 55%;
    height: 50%;
}